---
import Section from "../components/Section.astro";
import Background from "../assets/web_hacking_challenge-background.webp";
import first from "../assets/ctf-1er.webp";
import second from "../assets/ctf-2o.webp";
import third from "../assets/ctf-3er.webp";
import certification from "../assets/ctf-3er-certification.webp";
import rayban from "../assets/ctf-1er-rayban.webp";
import data from "../assets/data.json";
import Image from "astro/components/Image.astro";
import CTFLogo from "../assets/icons/CTFLogo.astro";
---

<Section id="ctf" className="z-90">
  <div class="container grid lg:grid-cols-2 gap-10 items-center mb-10">
    <div>
      <h2 class="text-5xl md:text-6xl mb-5">
        Web Hacking <span class="font-thin opacity-50">Challenge</span>
      </h2>
      {data.ctf.map((paragraph) => <p class="max-w-prose mb-4">{paragraph}</p>)}
      <button
        class="bg-red-600 py-2 px-4 cursor-pointer"
        onclick="openCTFFormModal()"
        type="button"
      >
        ¡Apúntate al challenge!
      </button>
    </div>
    <CTFLogo />
  </div>
  <div class="container grid md:grid-cols-3 gap-2 leading-normal">
    <div class="p-5 bg-slate-50/10 backdrop-blur-3xl flex flex-col gap-4">
      <div class="flex gap-4 items-center justify-between">
        <Image src={first} alt="1er premio" class="w-auto h-10" />
        <Image
          src={rayban}
          alt="RayBan Meta Wayfarer (Gen 1)"
          class="w-auto h-20"
        />
      </div>
      <p>
        RayBan Meta Wayfarer (Gen 1) + 50% beca Máster online en Ciberseguridad
      </p>
    </div>
    <div class="p-5 bg-slate-50/10 backdrop-blur-3xl flex flex-col gap-4">
      <div class="flex gap-4 items-center justify-between">
        <Image src={second} alt="2o premio" class="w-auto h-10" />
        <img
          src="https://immune.institute/wp-content/uploads/immune-logo-white.svg"
          alt="IMMUNE Technology Institute"
          width="128"
          height="40"
          loading="lazy"
          class="w-auto max-w-32 h-20 object-contain"
        />
      </div>
      <p>50% beca Máster online en Ciberseguridad</p>
    </div>
    <div class="p-5 bg-slate-50/10 backdrop-blur-3xl flex flex-col gap-4">
      <div class="flex gap-4 items-center justify-between">
        <Image src={third} alt="3er premio" class="w-auto h-10" />
        <Image
          src={certification}
          alt="Certificación Comptia - Ethical Hacker Pro"
          class="w-auto h-20"
        />
      </div>
      <p>Certificación Comptia - Ethical Hacker Pro</p>
    </div>
  </div>
  <Image
    src={Background}
    alt="Buscan Talento"
    class="absolute top-0 right-0 -z-10 w-full h-full object-cover"
  />
</Section>
