---
import data from "../assets/data.json";
import CalendarEvent from "../assets/icons/CalendarEvent.astro";
import Logo from "../assets/icons/Logo.astro";
import Countdown from "../components/Countdown.astro";
---

<section
  class="w-full min-h-dvh p-5 flex flex-col items-center justify-center text-neutral-50 text-center"
>
  <p
    class="flex items-center gap-2 text-xl p-5 backdrop-blur bg-neutral-50/10 border border-neutral-50/10"
  >
    <CalendarEvent />{data.date}
  </p>
  <div class="my-auto">
    <Logo />
    <h1 class="uppercase tracking-ch mb-5">Innovación, Talento y Empresas</h1>
    <Countdown />
  </div>
  <p>
    Nos vemos este {data.date} en la <strong>{data.edition} edición</strong> de encuentro
    de talento tecnológico de Madridfortech,
    <br />
    online y en nuestro campus en <a
      href={data.legal.address.url}
      target="_blank"
      class="underline">{data.legal.address.text}</a
    >
  </p>
</section>
