---
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
    <meta name="theme-color" content="#050000" />
  </head>
  <body
    class="overflow-y-scroll overflow-x-hidden bg-neutral-50 text-secondary font-sans leading-loose after:fixed after:top-0 after:left-0 after:w-full after:h-full after:-z-50"
  >
    <slot />
    <script src="../assets/js/main.js"></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"
    ></script>
  </body>
</html>

<style>
  body::after {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      theme("colors.red.50") 100%
    );
  }
</style>

<style is:global>
  ::selection {
    @apply bg-primary text-neutral-50;
  }

  /* Animations */

  .fadeIn {
    animation: fadeIn 500ms ease-in-out 500ms forwards;
  }

  .fadeOut {
    animation: fadeOut 500ms ease-in-out 500ms forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
</style>
